@import url(reset.css);

.page {
  height: 3000px;
  background-image: url(https://c1.staticflickr.com/6/5173/5436446554_9244788c36_b.jpg);
  position: static;
}

.rocket {
  background-image: url(https://www.freeiconspng.com/uploads/rocket-ship-png-1.png);
  background-size: contain;
  width: 100px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 650px;
  right: 3000px;
  
  animation-name: go-up;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes go-up {
    0% {
        bottom: 650px;
    }
    50% {

    }
    100% {
        bottom: 2200px;
    }
}
.mars {
  background-image: url(http://pngimg.com/uploads/mars_planet/mars_planet_PNG11.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  background-position: center;
  position: absolute;
  bottom: 1500px;
  right: 3000px;

}

.venus {
  background-image: url(https://www.pngrepo.com/download/285152/planet.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  background-position: center;
  position: absolute;
  bottom: 1900px;
  right: 3000px;
 }

 .earth {
 	background-image: url(https://pics.freeicons.io/uploads/icons/png/68863564516354197474526-512.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-position: center;
	position: absolute;
	bottom: 1700px;
    right: 3000px;
 }

.jupiter {
	background-image: url(https://cdn3.iconfinder.com/data/icons/planets-1/512/Jupiter-256.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-position: center;
	position: absolute;
	bottom: 1300px;
	right: 3000px;
}

.saturn {
	background-image: url(https://pics.freeicons.io/uploads/icons/png/658891991637258735-512.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-position: center;
	position: absolute;
	bottom: 1100px;
	right: 3000px;
}

.uran {
	background-image: url(https://cdn3.iconfinder.com/data/icons/planets-1/512/Neptune-256.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-position: center;
	position: absolute;
	bottom: 900px;
	right: 3000px;
}


.mercury {
	background-image: url(https://cdn3.iconfinder.com/data/icons/planets-1/512/Mercury-256.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-position: center;
	position: absolute;
	bottom: 2100px;
	right: 3000px;
}

.sun {
	background-image: url(https://pics.freeicons.io/uploads/icons/png/4941766021637258773-512.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-position: center;
	position: absolute;
	bottom: 2500px;
	right: 3000px;
}

.neptun {
	background-image: url(https://cdn2.iconfinder.com/data/icons/solar_system_png/512/Neptune.png);
	background-size: cover;
	width: 400px;
	height: 400px;
	background-position: center;
	position: absolute;
	bottom: 600px;
	right: 2950px;
}